* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background-color: rgb(218, 208, 208);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 0px; */
  position: sticky;
  top: 0;
  z-index:3;
}
a {
  text-decoration: none;
}
.leftnav {
  width: 20%;
  padding: 20px 70px;
}
.leftnav h2 {
  color: #424a5c;
  font-size: 2rem;
}
.HeaderResume{
  color: #45b84c;
}
span {
  color: #000;
}
.rightnav {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
.rightnav h3 {
  font-weight: 600;
}
.firsttext {
  color: #424a5c;
  position: relative;
  top: 10px;
  cursor: pointer;
}
.firsttext:hover {
  color: #45b84c;
  transition: background-color 0.5s ease;
}
.firsttext:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #45b84c;
  transition: width 0.5s ease;
}
.secondtext {
  color: #424a5c;
  position: relative;
  top: 10px;
  cursor: pointer;
}
.secondtext:hover {
  color: #45b84c;
  transition: background-color 0.5s ease;
}
.secondtext:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #45b84c;
  transition: width 0.5s ease;
}
/* Nav completed & main & form section started */
main {
  display: flex;
}
.main_left {
  width: 30%;
  /* background-color: #D3D3D3; */
  padding: 30px;
  height: 100vh;
  /* overflow-y: scroll;
  overflow: scroll; */
}
.main_right {
  width: 70%;
  height: 100vh;
  /* overflow-y: scroll;
  overflow: scroll; */
}
.resumeheading{
  position: relative;
  top: 30px;
  font-size: 2.5rem;
  color: #34ca3e;
}
.left_heading {
  margin-top: 20px;
}
.about-section {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #cbf9cd;
}

.about-section h2 {
  text-align: center;
  color: #fff;
  background-color: #34ca3e;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 10px 100px;
  border-radius: 10px;
}

.about-section form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.about-section .form-group {
  margin-bottom: 15px;
}

.about-section label {
  font-weight: bold;
}

.about-section input[type="text"],
.about-section input[type="email"],
.about-section input[type="tel"],
.about-section textarea {
  padding: 12px;
  width: 255px;
  border: 2px solid #45b84c;
  border-radius: 5px;
}

.about-section input[type="file"] {
  padding: 6px;
}
.button-container {
  display: flex;
  justify-content: center;
}
.button {
  padding: 10px 20px;
  background-color: #16811d;
  font-size: 1.2rem;
  color: #fff;
  margin: 20px;
  border-radius: 15px;
}
/* ===================================== Achievemnt */
.achievements-section {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #cbf9cd;
  padding: 20px;
  margin-top: 20px;
}
#achievement-form {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.achievements-section h2 {
  text-align: center;
  color: #fff;
  background-color: #34ca3e;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 10px 100px;
  border-radius: 10px;
}
.achievements-section form {
  display: flex;
  flex-direction: column;
}
.achievements-section .form-group {
  margin-bottom: 15px;
} 
.achievements-section label {
  font-weight: bold;
}

.achievements-section input[type="text"],
.achievements-section textarea,
.achievements-section button {
  padding: 12px;
  width: 255px;
  border: 2px solid #45b84c;
  border-radius: 5px;
}
.achievements-section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.achievements-section button:hover {
  background-color: #0056b3;
}
/* ============================= Experience Section */
.experience-section {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #cbf9cd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-section h2 {
  text-align: center;
  color: #fff;
  background-color: #34ca3e;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 10px 100px;
  border-radius: 10px;
}

.experience-section form {
  display: flex;
  flex-direction: column;
}

.experience-section .form-group {
  margin-bottom: 15px;
}

.experience-section label {
  font-weight: bold;
}

.experience-section input[type="text"],
.experience-section input[type="date"],
.experience-section textarea {
  padding: 12px;
  width: 255px;
  border: 2px solid #45b84c;
  border-radius: 5px;
}

.experience-section textarea {
  height: 100px;
}

.experience-section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
}

.experience-section button:hover {
  background-color: #0056b3;
}
/* ============================= Education Section */
.education-section {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cbf9cd;
}

.education-section h2 {
  text-align: center;
  color: #fff;
  background-color: #34ca3e;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px 100px;
  border-radius: 10px;
}

.education-section form {
  display: flex;
  flex-direction: column;
}

.education-section .form-group {
  margin-bottom: 15px;
}

.education-section label {
  font-weight: bold;
}

.education-section input[type="text"],
.education-section input[type="date"],
.education-section textarea {
  padding: 12px;
  width: 255px;
  border: 2px solid #45b84c;
  border-radius: 5px;
}

.education-section textarea {
  height: 100px;
}

.education-section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
}

.education-section button:hover {
  background-color: #0056b3;
}
/* ============================= Projects Section */
.projects-section {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  /* border: 8px solid #16811d; */
  border-radius: 10px;
  background-color: #cbf9cd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-section h2 {
  text-align: center;
  color: #fff;
  background-color: #34ca3e;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px 100px;
  border-radius: 10px;
}

.projects-section form {
  display: flex;
  flex-direction: column;
}

.projects-section .form-group {
  margin-bottom: 15px;
}

.projects-section label {
  font-weight: bold;
}

.projects-section input[type="text"],
.projects-section textarea {
  padding: 12px;
  width: 255px;
  border: 2px solid #45b84c;
  border-radius: 5px;
}

.projects-section textarea {
  height: 100px;
}

.projects-section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
}

.projects-section button:hover {
  background-color: #0056b3;
}
/* ================================== Skills  */
.skills-section {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  /* border: 8px solid #16811d; */
  border-radius: 10px;
  background-color: #cbf9cd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section h2 {
  text-align: center;
  color: #fff;
  background-color: #34ca3e;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px 100px;
  border-radius: 10px;
}

.skills-section form {
  display: flex;
  flex-direction: column;
}

.skills-section .form-group {
  margin-bottom: 15px;
}

.skills-section label {
  font-weight: bold;
}

.skills-section input[type="text"] {
  padding: 12px;
  width: 255px;
  border: 2px solid #45b84c;
  border-radius: 5px;
}

.skills-section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
}

.skills-section button:hover {
  background-color: #0056b3;
}

/* Resume Preview !! */
/* ===================================== ABOUT ME */
.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border: 5px solid #000;
  border-radius: 5px;
  background-color: #fff;
}
#image-upload{
  border: 1px solid;
}
h1{
  text-align: center;
  padding: 15px 0px;
  font-weight: 700;
  font-size: 2rem;
}
h2 {
  text-align: center;
  padding: 15px 0px;
  font-weight: 700;
  font-size: 1.4rem;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.section {
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.section-content {
  margin-left: 20px;
}

.section-content li {
  margin-bottom: 5px;
}
.buttonPrint, .buttondownload, .buttonjob, .buttonProject  {
  padding: 10px 20px;
  background-color: #16811d;
  font-size: 1.2rem;
  color: #fff;
  margin: 20px;
  border-radius: 15px;
  cursor: pointer;
}
